img {
    width: 100%;
    max-width: 400px;
    object-fit: cover;
    vertical-align: middle;
    
}

.wrapper {
    padding: 0 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 5rem;

}
.intro {
    flex: 1;
}
body{
    background-color: rgb(111, 19, 154);
}
h1
{font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif}
img{border: 10px;}
img{
    border: double red;
    border-radius: 50%;
}

#paral{
    text-align: center;
    color:red;
}
.center{
    text-align: center;
    color:rgb(68, 0, 255);
}
h1::first-line{
    color:rgba(5, 11, 23, 0.372)
    
}
p ::first-line{
color:rgb(107, 193, 9);

}

